<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VerifySign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VerifySign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <VerifySign.Properties.Settings>
            <setting name="PassingScore" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="DemoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SignatureDatabase" serializeAs="String">
                <value>SignatureDatabase.json</value>
            </setting>
            <setting name="DefaultCertPassword" serializeAs="String">
                <value>wacomsolutionpartner</value>
            </setting>
        </VerifySign.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <VerifySign.Properties.Settings>
            <setting name="PortRegistered" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WebManagerPort" serializeAs="String">
                <value>7801</value>
            </setting>
            <setting name="GreenThreshold" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="YellowThreshold" serializeAs="String">
                <value>0.6</value>
            </setting>
        </VerifySign.Properties.Settings>
    </userSettings>
</configuration>